mkvimball
mkvimball.vim
mkvimball.exim
mkvimball.vba
mkvimball.vmb
mkvimball.vba.zip
mkvimball.vmb.zip
DBGpClient.vba
DBGpClient.vmb
DBGpClient.vba.zip
DBGpClient.vmb.zip
*.sw[op]
*~
*.bak
*.orig
*.tmp
*$
build
build/*
